@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    max-width: 1788px;
    margin: 0 auto;
    padding: 0 16px;
}
